/* Main Styles */

*, *:after, *:before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
* {
margin: 0;
padding: 0;
}

body {
font-family: sans-serif;
font-size: 62.5%;
background-color: #7bf;
}
a {
text-decoration: none;
display: block;
}
a:hover,
a:active,
input, select {
outline: 0;
}


/* new card style */
.card {
background-color: #FFFFFF;
width: 400px;
border-radius: 6px;
margin: 20px 0 0 20px;
float: left;
}
.card:after {
content: "";
display: table;
clear: both;
}

/* header styles */
.header {
border-radius: 6px;
background-color: #FFF;
color: #222;
overflow: hidden;
border-bottom: 1px solid #eee;
}
.header h4 {
padding: 10px 0 10px 15px;
font-size: 1.6em;
letter-spacing: 1px;
float: left;
}
.header .controls {
font-size: 1.6em;
float: right;
}
.controls li {
display: inline-block;
}
.controls li a {
color: #222;
border-top: 3px solid transparent;
padding: 7px 10px;
}

.controls li a:hover {
border-top: 3px solid #F45E5F;
}


/* info styles */
.info {
}

.hidden {
	display: none;
}

.info img {
width: 100px;
margin: 15px;
border-radius: 5px;
box-shadow: 1px 1px #ccc;
float: left;
}

.info a, .info address {
font-family: sans-serif;
color: #222;
font-size: 1.4em;
padding: 15px 10px 0 0;
}
/* -------------- */


header:after {
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
	font-size:0;
	line-height:0;
}

.top-bar {
	padding: 10px;
	background-color: #33363B;
	color: #EEE;
}

.top-bar h1 {
	float: left;
	padding: 5px;
}
.top-bar label {
	display: block;
	float: left;
	font-size: 2em;
	padding: 5px;
	margin-left: 50px;
}
.top-bar .filter {
	width: 130px;
	height: 36px;
	overflow: hidden;
	border-radius: 3px;
	float: left;
}

.top-bar .filter select {
	background: #fff;
	width: 150px;
	padding-left: 5px;
	margin-left: 10px;
	font-size: 2em;
	color: #222;
	border: 0;
	border-radius: 3px;
	height: 36px;
	-webkit-appearance: none;
}
.top-bar .search {
	float: left;
	margin-left: 50px;
}

.btn {
	font-size: 16.996px;
	line-height: 16px;
	padding: 9px 16px;
	background-color: #7bf;
	color: #222;
	font-size: 2em;
	border: 0;
	border-radius: 3px;
}

.top-bar a {
	float: left;
	margin-left: 50px;
}

.top-bar a:hover {
	background-color: #8cf;
}


/* New Contact Form */
.form-container {
clear: both;
}
input {
  display: inline-block;
  margin-bottom: 0;
  padding: 5px;
  font-size: 2em;
  vertical-align: middle;
  border: 0;
  border-radius: 3px;
}

.form-horizontal {
padding-top: 30px;
font-size: 1em;
width: 500px;
display: none;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 50px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .input-controls {
  margin-left: 150px;
}


/* ---------------- */

::-moz-selection {
	background-color: #EEE;
	color: #222;
}

::selection {
	background-color: #EEE;
	color: #222;
}